<!DOCTYPE html>
<html>

<head>

  <title>{{title}}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Player Fonts -->
  <!-- Jamala -->
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
  <!-- Casper -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <!-- Natu -->
  <link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
  <!-- Nemsley -->
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <!-- Luna -->
  <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">
  <!-- Nova -->
<link href="https://fonts.googleapis.com/css2?family=Lacquer&display=swap" rel="stylesheet"> 
<!-- Grogolog -->
<link href="https://fonts.googleapis.com/css2?family=Faster+One&display=swap" rel="stylesheet"> 
<!-- Justtheletterb -->
 <link href="https://fonts.googleapis.com/css2?family=Mansalva&display=swap" rel="stylesheet"> 


</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Game Night Central</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/valorant">Valorant</a></li>
      </ul>
    </div>
  </nav>
  {{{body}}}
</body>

</html>