<h1>Valorant Home</h1>
<div class="row">
    <div class="col s6 valorant-info">
    </div>
    <div class="col s6">
        <a class="waves-effect waves-light btn-large valorant-new-game"><i class="material-icons left">videogame_asset</i>New Game</a>
        <div class="row">
            <div class="col s6">
                <label>
                    <input name="game-type" type="radio" checked />
                    <span>Custom Game</span>
                </label>
            </div>
            <div class="col s6">
                <label>
                    <input name="game-type" type="radio"/>
                    <span>Online Game</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
            {{#each players}}
                <label>
                     <input type="checkbox" class="filled-in" checked="checked" />
                     <span>{{this}}</span>
                </label>
            {{/each}}
            <label>
      </label>
      </div>
        </div>
</div>